* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol,li {
    list-style: none;
}

html,body {
    scroll-behavior: smooth;
}

body {
    background-color: #FFFFFF;
}

header{
    position: fixed;
    width: 100vw;
    background-color: transparent;
    padding: 32px;

}

#navegacao{
    width: 75%;
}

#navegacao nav ul{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

#navegacao nav a {
    color: black;
}

#containerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.grupo {
    height: 100vh;
    border: 1px solid black;
}
