* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,ol,li {
    list-style: none;
}

html,body {
    scroll-behavior: smooth;
    font-family: 'Kodchasan', sans-serif;
}

body {
    background-color: #FFFFFF;
}

header{
    position: fixed;
    width: 100vw;
    background-color: white;
    padding: 32px 4%;
}

#logotipo{
    height: 65px;
    width: 65px;
    background-image: url('./img/logotipo.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}



header.rolagem {
    position: fixed;
    width: 100vw;
    background-color: #005CAA;
    padding: 32px 4%;
    color: white;
}

header.rolagem #navegacao a{
    color: white;
     transition: .5s;
}

header.rolagem #logotipo {
    height: 65px;
    width: 65px;
    background-image: url('./img/flor-de-lis_ao_mudar.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: .5s;
}

#navegacao{
    width: 75%;
}

#navegacao nav ul{
    font-size: 26px;
    display: flex;
    justify-content: space-between;
}

#navegacao nav a {
    color: #005CAA;
}

#containerNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.grupo {
    height: 100vh;
}

#grupao{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#containerTexto {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    width: 50%;
   
    height: 100%; 
    margin-left: 32px;
    
}
#containerTexto p{
    font-size: 30px;
    height: 60%;   
}
#containerTexto h2{
    margin-top: 10px;
    font-size: 40px;
    
}

#subtexto {
    margin-top: 20px;
    width: 690px;
}

#titulo1 {
    width: 500px;
}


#containerImg {
    height: 50%;
    width: 40%;
    margin-left: 4%;

}

#containerImg img{
    height: 100%;
    width: 100%;
}

#containerTexto #social {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 70%;
}

#containerTexto #social div{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #005CAA;
}

#grupao2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#conteinerTexto2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%; 
    margin-left: 32px; 
}

#containerTexto2 p{
    font-size: 30px;
    height: 60%;   
}

#containerTexto h2{
    margin-top: 10px;
    font-size: 40px; 
}

#subtitulo h2{
    margin-top: 10px;
    font-size: 30px;
    
}

#subtexto2 {
    margin-top: 35px;
    width: 690px;
    font-size: 23px 
}

#titulo2 {
    width: 500px;
    font-size: 40px
}

#conteinerImg2 {
    height: 634px;
    width: 634px;
    margin-left: 4%;
}

#conteinerImg2 img{
    height: 100%;
    width: 100%;
    
    border-radius: 20px;
}

#pilares {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #005CAA;
}

#containerGeral {
    display: flex;
    flex-direction: column;
}

#containerPilaresTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tituloPilares {
    color: white;
}

#tituloPilares h1 {
    font-size: 77px;
}


#pPilares  {
    margin-top: 30px;
    width: 947px;
    text-align: center;
    color: white;
}

#pPilares p {
    font-size: 24px;
}

#containerPilares{
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    gap: 77px;
}

.pilaresFotos {
    height: 499px;
    width: 376px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#fotoPilar1 {
    width: 339px;
    height: 270px;
    background-image: url('./img/livros.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

#fotoPilar2 {
    width: 339px;
    height: 270px;
    background-image: url('./img/arvore.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;

}

#fotoPilar3 {
    width: 339px;
    height: 260px;
    background-image: url('./img/caderno.png');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;

}

.subPilares {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tituloFoto {
    margin-top: 15px ;
}

.tituloFoto h1{
    font-size: 48px;
}

.subFoto {
    text-align: center;
    margin-top: 15px;
    text-align: center;
}

.subFoto p {
    color: black;
    font-size: 20px;
}

#importancia {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contKid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}



#containerImpFoto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 567px;
    height: 616px;
    background-image: url('./img/criancaCompleto.png');
    background-position: center;
    background-repeat: no-repeat;
}

#containerImpor {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

#textosImp{
    display: flex;
    flex-direction: column;
    width: 548px;
    height: 117px;
    font-size: 30px;
}

#gradiente {
    background-image: linear-gradient(to right,#005CAA,#002544);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#contTopicos {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
}

.topicos {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.textosTop{
    margin-left: 15px;
    width: 100%;
}

#imagemTop1 {
    width: 95px;
    height: 78px;
    background-image: url('./img/comunicacao.png');
    background-position: center;
    background-repeat: no-repeat;
}

#imagemTop2 {
    width: 95px;
    height: 78px;
    background-image: url('./img/influencia.png');
    background-position: center;
    background-repeat: no-repeat;
}

#imagemTop3 {
    width: 95px;
    height: 78px;
    background-image: url('./img/trabalho.png');
    background-position: center;
    background-repeat: no-repeat;
}

#imagemTop4 {
    width: 95px;
    height: 78px;
    background-image: url('./img/cultura.png');
    background-position: center;
    background-repeat: no-repeat;
}

.tituloTop{
    font-size: 20px;
}

.subTop{
    font-size: 16px;
    width: 78%;
}

#programacao{
    display: flex;
    justify-content: center;
    align-items: center;
}


#containerProgramacao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
#parte2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#parte2Img{
    width: 700px;
    height: 634px;
    background-image: url('./img/aLinguagemDoFuturo.png');
    background-position: center;
    background-repeat: no-repeat;
}

#parte1{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}



#titulosProg{
    font-size: 28px;
}

#subProg{
    margin-top: 20px;
    text-align: left;
    width: 68%;
    font-size: 16px;
}

@media screen and (max-width: 640px) {
    /* Cabeçalho */
    header {
        position: fixed;
        background-color: white;
        padding: 32px 4%; 
    }

    #logotipo{
        height: 100px;
        
        margin-right: -40px;
        align-items: center;
    }
    #senai {
          
        margin-right: -42px;
        
    }

    header.rolagem {
        /* position: fixed; */
        /* width: 100vw; */
        background-color: #005CAA;
        /* padding: 32px 4%; */
        color: white;
    }
    
    header.rolagem #navegacao a{
        color: white;
         transition: .5s;
    }
    
    header.rolagem #logotipo {
        /* height: 65px; */
        /* width: 65px; */
        /* background-image: url('./img/flor-de-lis_ao_mudar.png'); */
        /* background-position: center; */
        /* background-size: 100%; */
        /* background-repeat: no-repeat; */
        /* transition: .5s; */
    }

    #navegacao nav ul {
        justify-content: space-between;
        font-size: 15px;
        gap: 35px;
        padding: 10px;
        margin-top: 70px;
        /* position: fixed; */
        margin-left: -24px;
    }
    #navegacao{
        width: 75%;
    }

    #containerNav{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    #containerTexto {
        width: 100%;
        margin: 0 auto;
        text-align: center; /* Centraliza texto */
        padding: 20px ;
        margin-left: 50px;
        
    }

    #containerTexto h2 {
        font-size: 20px;
        margin-top: 50px;
        margin-left: 85px;
        left: 300px;
        width: 90%;
    }

    #containerTexto p {
        font-size: 13px;
        line-height: 1.5;
        margin-right: 140px;
        margin-left: 55px;
    }

    /* Imagem central */
    #containerImg img {
        position: absolute;
        height: 35%;
        left: 45px;
        width: 90%;
        margin-top: 100px;
        
    }

    /* Botões ou círculos */
    #social {
        margin-left: 100px;
        gap: 20px;
        margin-top: 30px;
        
    }

    #social div {
        
        border-radius: 50%;
        background-color: #0072CE; /* Cor azul */
        margin-top: 100%;
        gap: 100px;
        
    }

/*========================================================================*/
    
    #grupao2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #titulo2 h2{
        margin-top: -350px;
        font-size: 30px;
        margin-right: 100px;
    }

    #subtitulo h2{
        font-size: 20px;
        margin-top: -300px;
    }

    #subtexto2 p{
        font-size: 16px;
        text-align: justify;
        max-width: 500px;
        margin-top: -250px;
    
        
    }

    #conteinerTexto2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%; 
        margin-left: 32px; 
        
    }

    #containerTexto2 p{
        width: 100%;
        font-size: 300px;
        border: solid black;   
    }
    
    #conteinerImg2 img{
        height: 60%;
        width: 150%;
        margin-top: 400px;   
        border-radius: 20px;
        margin-left: -250px;
    } 
/*========================================================================*/
#pilares {
    display: flex;
    flex-direction: column;
}

#containerGeral {
    
}

#tituloPilares h1 {
    font-size: 30px;
    margin-top: -150px;
    
}

#pPilares p {
    text-align: justify;
    margin-top: -130px;
    font-size: 12px;
    width: 500px;
    margin-left: 225px;
}

.pilaresFotos {

}

#fotoPilar1 {
    
}

#fotoPilar2 {
     

}

#fotoPilar3 {
      

}

.subPilares {
    
}

.tituloFoto {
    
}

.tituloFoto h1{
    
}

.subFoto {
    
}

.subFoto p {
    
}
/*========================================================================*/

/*========================================================================*/
    
}
